	{% load static %}
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css' />
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.0.0.min.js"></script>

	<link href="https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet" />
	<!--[if IE 7]>
	<link href="https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome-ie7.min.css" rel="stylesheet" />
	<![endif]-->

	<ul class="form">
		<li><a class="profile" href="/home">Trang chủ</a></li>
		<li><a class="logout" href="/search">Tìm kiếm</a></li>
		<li><a href="/tracuu" class="western" >Tra cứu lãi suất</a></li>
		<li><a href="/laisuat" class="fantasy" >Tính lãi suất</a></li>
	</ul>