{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'search.css' %}">

    <div class="container">
    <div class="row justify-content-center">
       <h3> Tìm kiếm sản phẩm </h3>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="filter-form-view" style="">
                <div>
                    <div style = "display: flex; justify-content: space-between; width: 570px;">
                        <div style = "position:relative;">Giá</div>
                        <div style = "position:relative;">Đơn vị: Triệu</div>
                    </div>
                    <div>
                        {{filter_form.start_price}} - {{filter_form.end_price}}
                    </div>
                </div>
                <div>
                    <div style = "display: flex; justify-content: space-between; width: 570px;">
                        <div style = "position:relative;">Điện tích</div>
                        <div style = "position:relative;">Đơn vị: m<sup>2</sup></div>
                    </div>
                    <div>
                        {{filter_form.start_area}} - {{filter_form.end_area}}
                    </div>
                </div>
                <div>
                    <div style = "display: flex; justify-content: space-between; width: 570px;">
                        <div style = "position:relative;">Phòng ngủ</div>
                    </div>
                    <div>
                        {{filter_form.num_bed}}
                    </div>
                </div>
                <div>
                    <div style = "display: flex; justify-content: space-between; width: 570px;">
                        <div style = "position:relative;">Phòng tắm</div>
                    </div>
                    <div>
                        {{filter_form.num_bath}}
                    </div>
                </div>
            </div>
            <div style = "display: flex; justify-content: center; width: 570px;">
                <input type="submit" value="Tìm kiếm">
            </div>
        </form>
    </div>
   </div>


    <div class="container">
      <div class="row justify-content-start">
        {% for house in page.object_list %}
            {% with house.code|stringformat:"s" as house_code %}
            {% with "./images/"|add:house_code|add:".jpg" as image_path %}
            <div class="col-4 estate-item">
                <span><img src="{% static image_path %}" width="100%" height="188px"></span>
                <div>
                    <span class="price">{{ house.total_price }}</span>
                    <h3 class="estate-name"> {{ house.name }} </h3>
                    <p class="estate-address">{{ house.address }} </p>
                    <div>
                        {% if house.property.num_bedroom != None %}
                            <i class="fa-solid fa-bed"></i>
                            {{house.property.num_bedroom}}
                        {% endif %}
                        {% if house.property.num_bathroom != None %}
                            <i class="fa-solid fa-bath"></i>
                            {{ house.property.num_bathroom }}
                        {% endif %}
                        {% if house.property.area != None %}
                            <i class="fa-solid fa-square"></i>
                            {{ house.property.area }}m<sup>2</sup>
                        {% endif %}
                        {% if house.property.direction != None %}
                            <i class="fa-solid fa-location-arrow"></i>
                            {{ house.property.direction }}
                        {% endif %}
                    </div>
                </div>
<!--              <input type="checkbox" id="scales" name="scales" unchecked>-->
            </div>
            {% endwith %}
            {% endwith %}
        {% endfor %}
      </div>
    </div>

    <div class="container" style="margin-bottom: 100px;">
        <div class="row justify-content-center">

        {% if page.has_previous %}
            <span class="arrow">
                <a href="?page=1"> <i class="fa-solid fa-angles-left"></i></a>
            </span>
            <span class="arrow">
                    <a href="?page={{ page.previous_page_number }}">
                        <i class="fa-solid fa-caret-left"></i>
                    </a>
            </span>
        {% endif %}

        {% with ''|center:page.paginator.num_pages as range %}
            {% with page.number|add:"-3" as start_list%}
            {% with page.number|add:3 as end_list %}
                {% for i in range %}
                    {% if forloop.counter < end_list and forloop.counter > start_list %}
                        {% if forloop.counter == page.number %}
                            <div class="page_item">
                                <a href="?page={{ forloop.counter }}" style="color:red" >{{ forloop.counter }} </a>
                            </div>
                        {% else %}
                            <div class="page_item">
                                <a href="?page={{ forloop.counter }}" style="color:black" >{{ forloop.counter }} </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endwith %}
            {% endwith %}
        {% endwith %}

        {% if page.has_next %}
            <span class="arrow">
                    <a href="?page={{ page.next_page_number }}">
                        <i class="fa-solid fa-caret-right"></i>
                    </a>
            </span>
            <span class="arrow">
                    <a href="?page={{ page.paginator.num_pages }}"><i class="fa-solid fa-angles-right"></i> </a>
            </span>
        {% endif %}

        </div>
    </div>

{% endblock %}