{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'detail.css' %}">
    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script id="rendered-js">
        function updateTextView(_obj){
            var num = getNumber(_obj.val());
            if(num==0){
                _obj.val('');
            }else{
            _obj.val(num.toLocaleString());
            }
        }
        function getNumber(_str){
            var arr = _str.split('');
            var out = new Array();
            for(var cnt=0;cnt<arr.length;cnt++){
                if(isNaN(arr[cnt])==false){
                    out.push(arr[cnt]);
                }
            }
        return Number(out.join(''));
        }
        $(document).ready(function(){
            $('input[id=id_so_tien_vay]').on('keyup',function(){
            updateTextView($(this));
        });
       });
     </script>

    <h3> Tính lãi suất cần trả</h3>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="form_type" value="laisuat">
        <p colspan="2" style="text-align:center"><input type="Submit" name="laisuat" value="Xem kết quả"/></p>
    </form>
    {% if submitbutton == "Xem kết quả" %}
        {{ chart_1|safe }}
        {{ chart_2|safe }}
    <!-- DataTable content -->
    <div class="summary-body">
        {{ summary_table | safe }}
    </div>
    <div class="card-body">
        {{ table_data | safe }}
    </div>

    <!-- datatables JS -->
    <script type="text/javascript"src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
    <script>
        {% comment %} Initialize DataTable {% endcomment %}
        $(document).ready(function() {
            $('#table_example').DataTable();
        } );
        $(document).ready(function() {
            $('#summary_table').DataTable();
        } );
    </script>
    {% endif %}

{% endblock %}